<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pekgd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library
            android:name="com.android.future.usb.accessory"
            android:required="false" />

        <activity
            android:name="org.pekgd.MonitorActivity"
            android:label="@string/title_activity_monitor"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>
        <activity
            android:name="org.pekgd.HistoryActivity"
            android:label="@string/title_activity_history"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="org.pekgd.UserActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.pekgd.SavedDataActivity"
            android:label="@string/title_activity_saved_data"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="org.pekgd.NewUserActivity"
            android:label="@string/title_activity_new_user"
            android:configChanges="orientation|screenSize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pekgd.UserActivity" />
        </activity>
    </application>

</manifest>